<app-navbar></app-navbar>
<div fxFlexFill fxLayoutAlign="center" class="container">
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center" class="container__content">
    <div class="container__content__text">
      Hi, my name is Joost. I make videos, take photos and blog on this website.
      <br>
      <br>
      I am also a fullstack developer. You can check out my portfolio here.
    </div>
    <div fxLayoutAlign="center" class="container__content__image" >
      <img src="../../../assets/joost.jpg">
    </div>
  </div>
</div>
