.container {
   border: solid yellow 2px;
}

.nav-bar {
  margin-top:30px;
  width:800px;
  border:solid blue 2px;
  padding: 0 20px 0 20px;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.nav-bar__logo {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5em;
}

.nav-bar__menu {
}

.nav-bar__menu__item {
  margin: 0px 20px 0px 20px;
  font-weight: 100;
}

.nav-bar__hamburger {
  width:36px;
  height: 10px;
}
