<app-navbar></app-navbar>
<div fxLayoutAlign="center" class="container">
  <div class="container__content">
    <div fxLayout="row" class="container__photo-filter-options">
      <div class="container__photo-filter-options__item">
        <button id="street">Street</button>
      </div>
      <div class="container__photo-filter-options__item">
        <button id="landscape">Landscape</button>
      </div>
      <div class="container__photo-filter-options__item">
        <button id="portrait">Portrait</button>
      </div>
    </div>
    <div class="grid" data-isotope='{ "itemSelector": ".grid-item", "layoutMode": "fitRows" }'>
      <div class="grid-item">...</div>
      <div class="grid-item grid-item--width2">...</div>
      <div class="grid-item">...</div>
    </div>
  </div>
</div>
