<div class="carousel">
  <div class="carousel__title">
    <h3>Projects</h3>
  </div>
  <div class="carousel__wrapper">
    <button class="carousel__wrapper__button previous">
      <img src="../../../../../assets/left.svg">
    </button>
    <div class="carousel__wrapper__item">
      1
    </div>
    <div class="carousel__wrapper__item">
      2
    </div>
    <div class="carousel__wrapper__item">
      3
    </div>
    <button class="carousel__wrapper__button next">
      <img src="../../../../../assets/right.svg">
    </button>
  </div>
</div>
