.container {
  display: flex;
  flex-direction: column;
  border: solid 2px magenta;
  height: 500px;
}

.container__title {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.container__carousel {
  border: solid 1px red;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
  width: auto;
}

.container__carousel__left-button {

}

.container__carousel__right-button {

}
