.about {
  height: 100vh;
}

.about__title {
  font-size: 2em;
  font-weight: 700;
  margin: 5%;
}

.about__paragraph {
  font-weight: 400;
  line-height: 1.6;
}

.about__paragraph a {
  color: #1F3B73;
}
