<div class="about">
  <div class="about__title">
    About.
  </div>
  <div class="about__paragraph">
    My name is Joost de Ruijter. I graduated in 2017 from Hogeschool Rotterdam with a degree in computer science. Passionate about both frontend and backand, fullstack development is where i find the most passion.
    You can find my resume <a href="http://google.com" target="_blank">here.</a><br><br>
    Currently employed at the <a href="https://www.boip.int" target="_blank">Benelux Office for Intellectual Property.</a>
  </div>
</div>
