<div fxLayout="column" fxLayoutAlign="center center" class ="contact">
  <div fxLayoutAlign="center" class="contact__title">Let's get in touch.</div>
  <div class="contact__mail">hi@joostderuijter.com</div>
  <div fxLayout="row" class="contact__icons">
    <div class="contact__icons__icon">
      <a href="http://linkedin.com/in/jcderuijter" target="_blank"><img src="../../../../../assets/linkedin-logo.png"></a>
    </div>
    <div class="contact__icons__icon">
      <a href="http://github.com/joostderuijter" target="_blank"><img src="../../../../../assets/github-logo.png"></a>
    </div>
  </div>
</div>
