.header {
  height: 100vh;
}

.header__image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 5%;
}

.header__image img {
  border-radius: 50px;
  width: 100%;
  height: auto;
  background-color: #F5F5F5;
  margin: 5%;
}


.header__title {
  font-size: 1.5em;
  text-align: center;
  font-weight: 700;
}

.header__subtitle {
  font-weight: 400;
  font-size: 0.75em;
  text-align: center;
  margin: 1%;
}
