<div class = "container">
  <div class="container__text">
    <h1 class="container__text__title">Hello!</h1>
    <p class="container__text__paragraph">
      My name is Joost. I am a full-stack programmer from the Netherlands. On this page you can view my projects. I have a passion for creating things.
    </p>
  </div>
  <div class="container__hr">
    <div class="container__hr__hr"></div>
  </div>
  <div class="container__img">
    <img class="container__img__img" src="../../../../../assets/joost.png">
  </div>
</div>
