.container {
  display: flex;
  justify-content: space-evenly;
  animation-duration: 2s;
  animation-name: fadein;
}

.container__text {
  display:flex;
  flex-direction: column;
  width:500px;
}

.container__hr {
  display: flex;
  align-items: center;
}

.container__img {
  display: flex;
  justify-content: center;
  width:500px;
}

.container__text__title {
  font-weight: 300;
}

.container__text__paragraph {

}

.container__hr__hr {
  display: flex;
  align-items: center;
  border-left: 4px solid #53e67f;
  height: 250px;
}

.container__img__img {
  align-self: center;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
