<div class="projects">
  <div class="projects__title">
    Projects.
  </div>
  <div fxLayout="row" class = "projects__container">
      <div fxLayout="column" fxLayoutAlign="center center" class="projects__container__item project-rocketwork">
        <div class="projects__container__item__title">Rocketwork</div>
        <div class="projects__container__item__description">Rocketwork is a platform where users can find jobs based on values they find important.</div>
        <div class="projects__container__item__view-more">
          <a class="projects__container__item__view-more__link" href="http://rocketwork.nl">Learn more</a>
        </div>
      </div>
      <div fxLayoutAlign="center center" class="projects__container__item">
        <div fxLayout="column" fxLayoutAlign="center center" class="projects__container__item project-foodrandomizer">
          <div class="projects__container__item__title">Food randomizer</div>
          <div class="projects__container__item__description">With food randomizer you can randomly order food from thuisbezorgd.nl</div>
          <div class="projects__container__item__view-more">
            <a class="projects__container__item__view-more__link" href="http://rocketwork.nl">Learn more</a>
          </div>
        </div>
      </div>
      <!--     <div fxLayoutAlign="center" fxFlex="49%" class="projects__carousel__item">
            3
          </div>
          <div fxLayoutAlign="center" fxFlex="49%" class="projects__carousel__item">
            4
          </div>
          <div fxLayoutAlign="center" fxFlex="49%" class="projects__carousel__item">
            5
          </div>
          <div fxLayoutAlign="center" fxFlex="49%" class="projects__carousel__item">
            6
          </div>-->
  </div>
</div>
